<br>
<div class="row">
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Operational Intelligence</h1>
            </div>
            <div class="row">
            </div>
            <!-- heading1 -->
            <div class="row" id="lda"style="height: 15px;"></div>
            <div class="row">
                <h3>Twitter:</h3>
            </div>
            <div class="col">
                <div class="row">
                    Dissemination:
                    <ul>
                        <li>The Twitter source has provided us with a valuable set of open source intelligence. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
                        <li>We have identified key threat actors that have been highly active both now and over the last few years.</li>
                        <li>These actors can be shared with the healthcare industry.</li>
                        <ul>
                            <li>Other players in the industry may have the capability of diving deeper and discerning more intelligence.</li>
                        </ul>
                    </ul>
                </div>
                <div class="row">
                    Course of Action:
                    <ul>
                        <li>Continue to monitor the hacktivist accounts we have and search for relevant tweets about data breaches. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>Additionally, continue to search for new accounts that crop up.</li>
                        <ul>
                            <li>Many accounts go silent after a few years, and the actors are always changing.</li>
                        </ul>
                    </ul>
                </div>
                <div class="row">
                    Information for next iteration of CTI:
                    <ul>
                        <li>We can pass on the knowledge we have of both the actors we have discovered and the insights we have gained from these actors.</li>
                        <li>The next iteration of CTI processes should look to expand on the identified threat actors, as there are countless others out there.</li>
                    </ul>
                </div>
            </div>
            <!-- heading2 -->
            <div class="row" id="dnn"style="height: 15px;"></div>
            <div class="row">
                <h3>Reddit:</h3>
            </div>
            <div class="col">
                <div class="row">
                    Dissemination:
                    <br>
                        <ul>
                            <li>Reddit gives us a constant and diverse stream of relevant and current news related to attacks within the healthcare industry.</li>
                            <li>This information can be useful to all cybersecurity analysts within the healthcare industry to stay up to date with relevant news and attacks.</li>
                        </ul>
                </div>
                <div class="row">
                    Course of Action:
                    <ul>
                        <li>Provide information to security professionals who can leverage the dataset to identify key hacking groups, targets, or technologies that may be relevant to their own organization.</li>
                        
                    </ul>
                </div>
                <div class="row">
                    Information for next iteration of CTI:
                    <ul>
                        <li>The next iteration of CTI should focus on expanding into other subreddits and levering the api to collect more features from a given post. This can include:</li>
                        <ul>
                            <li>Links to external news sites and their content</li>
                            <li>Images</li>
                            <li>Content</li>
                        </ul>
                    </ul>
                </div>
        </div>
            <div class="row" id=""style="height: 15px;"></div>
            <div class="row">
                <h3>URL Haus:</h3>
            </div>
            <div class="col">
                <div class="row">
                    Dissemination:
                    <ul>
                        <li>Our findings require constant monitoring and should be shared with other healthcare organizations and network professionals in the industry.</li>
                        <li>Information sharing has been one of the most under-utilized, cost-effective, and impactful strategies organizations can engage to mitigative cyber evolving cyber threats</li>  
                    </ul>
                </div>
                <div class="row">
                    Course of Action:
                    <ul>
                        <li>We recommend deploying firewalls and to block Tor, I2P and restrict ports in order to add another layer of protection based on the URL Haus data</li>
                        <ul>
                            <li>These recommendations are aligned with the strategies and goals set by MedCity which listed the tasks above as critical access control measures to protect against ransomware in the healthcare sector</li>
                        </ul>
                    </ul>
                </div>
                <div class="row">
                    Information for next iteration of CTI:
                    <ul>
                        <li>Our next iteration of CTI should be generated based on government agencies recommendations (e.g., FBI, CISA, etc.).  We limited our focus to Trickbot & Bazar Loader because of the reported frequency of use by malicious actors in 2020.</li>
                        <li>Ransomware protection should be considered as a game of whack-a-mole – as one is shut down or rendered useless, another will pop up to take its place</li>
                        <li>Due to it’s the ever-changing ransomware landscape, our next iteration of CTI should focus on latest ransomware trends reported by trusted parties</li>
                    </ul>
                </div>
            </div>
            




            <br>

    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
