<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/operationalintelligence#heading1"><button type="button" class="btn btn-secondary btn-block" >heading 1</button></a>
                <br>
                <a class = "row" href="/operationalintelligence#heading2"><button type="button" class="btn btn-secondary btn-block" >heading 2</button></a>
                <br>
                <a class = "row" href="/operationalintelligence#heading3"><button type="button" class="btn btn-secondary btn-block" >heading 3</button></a>
                <br>
            </div>
        </div>
    </div>
    

    <!-- spacer -->
    <div class="col-1"></div> 
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Operational Intelligence</h1>
            </div>
            <br>

            <!-- heading1 -->
            <div class="row" id="heading1"style="height: 75px;"></div>
            <div class="row">
                <h3>Here is heading 1</h3>
            </div>
            <div class="row">
                <p>Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                </p>
            </div>
            <div class="row">
                <h5>Unordered List</h5>
            </div>
            <div class="row">
                <ul>
                    <li>List Item</li>
                    <li>List Item</li>
                    <li>List Item</li>
                    <li>List Item</li>
                </ul>
            </div>
            <div class="row">
                <h5>Ordered List</h5>
            </div>
            <div class="row">
                <ol type="1">
                    <li>List Item</li>
                    <li>List Item</li>
                    <li>List Item</li>
                    <li>List Item</li>
                </ol>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Side...</h5>
                    </div>
                    <ol type="1">
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>...by side</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        

            <!-- heading2 -->
            <div class="row" id="heading2"style="height: 75px;"></div>
            <div class="row">
                <h3>Here is heading 2</h3>
            </div>
            <div class="row">
                <p>Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Unordered List</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Ordered List</h5>
                    </div>
                    <div class="row">
                        <ol type="1">
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ol>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/spaceCommand.png" width="50%" height="75%">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Side...</h5>
                    </div>
                    <ol type="1">
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>...by side...</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>...by side</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" id="heading3"style="height: 75px;"></div>
            <div class="row">
                <h3>Here is heading 3</h3>
            </div>
            <div class="row">
                <p>Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                </p>
            </div>
            <div class="row">
                <h5>This a table</h5>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>





        
    
        
    





    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
