<br>
<div class="row">
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Key Insights</h1>
            </div>
            <div class="row">
            </div>
            <!-- heading1 -->
            <div class="row" id="lda"style="height: 15px;"></div>
            <div class="row">
                <h3>Twitter:</h3>
            </div>
            <div class="row">
                <p>
                    Our Twitter analysis helped identify key topics that hackers discuss on Twitter. When it comes to relevant healthcare topics, we were able to discern
                    that the topics usually involved government, political parties, and human rights.
                    
                </p>
            </div>
            <div class="row">
                Our analysis identified key threat actors in the Twitter hacker community.
                <ul>
                    <li>There were a total of 9 accounts that we analyzed. </li>
                    <li>The most active actors included @youranoncentral and @youranonnews with 3231 and 3226 Tweets respectively. </li>
                    <li>We also noted that the two accounts that appear to be most currently active are @th3j35t3r and @ctrlsec.</li>
                </ul>
            </div>
            <!-- heading2 -->
            <div class="row" id="dnn"style="height: 15px;"></div>
            <div class="row">
                <h3>Reddit:</h3>
            </div>
            <div class="row">
                <p>
                    Looking into the 11 most active cyber security related subreddits can give key insights into new threats or attacks in the healthcare sector.
                    Using keyword search on these posts can give insights into their relatedness, but leveraging a fine tuned machine learning model may help give insights that may not directly contain predefined keywords.
                
                </p>
            </div>
            <div class="row">
                Key word searching allowed us to identify 70 healthcare related attacks since the beginning of 2021.
                <ul>
                    <li>Many of these attacks leveraged covid as a means of infiltration into a network e.g., phishing campaigns with catching covid subject lines.</li>
                    <li>These mainly relied on ransomware. </li>
                </ul>
            </div>
            
            
           
            

            <div class="row" id=""style="height: 15px;"></div>
            <div class="row">
                <h3>URL Haus:</h3>
            </div>
            <div class="row">
                We limit our focus to ransomware (visualization #2) to enhance our key insights and recommendations for healthcare organizations.
                <ul>
                    <li>In 2020 alone, at least 560 ransomware attacks were targeted towards hospitals and healthcare facilities.</li>
                    <li>Government agencies are advising healthcare organizations to increase protections in their networks, conduct regular software updates, backup data, and monitor where/who are accessing their networks.</li>
                </ul>
            </div>
            <div class="row">
                Ransomware seems to be targeting states on the coast of the United States based on our data.
                <ul>
                    <li>In a recent study, Forbes reported a similar insight to our findings. The states including Florida, California and New York saw the highest number of ransomware attacks in 2020.</li>
                </ul>
            </div>
            




            <br>

    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
