<!-- NavBar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" (click)="home()">CTI Government</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="industry()">Industry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="threatmodels()">Threat Models</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="data()">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="operationalintelligence()">Operational Intelligence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="about()">About</a>
      </li>
    </ul>
    
  </div>
</nav>
<!-- Banner -->
