<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/threatmodels#physicalassets"><button type="button" class="btn btn-secondary btn-block" >Physical Assets</button></a>
            <br>
                <a class = "row" href="/threatmodels#confidentaldata"><button type="button" class="btn btn-secondary btn-block" >Confidential Data</button></a>
            <br>
                <a class = "row" href="/threatmodels#publictrust"><button type="button" class="btn btn-secondary btn-block" >Public Trust</button></a>
            <br>
                <a class = "row" href="/threatmodels#informationsystems"><button type="button" class="btn btn-secondary btn-block" >Information Systems</button></a>
            <br>


            </div>
        </div>
    </div>
    

    <!-- spacer -->
    <div class="col-1"></div> 
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Threat Models</h1>
            </div>
            <br>

            <!-- Physical Assets -->
            <div class="row" id="physicalassets"style="height: 75px;"></div>
            <div class="row">
                <h3>Physical Assets</h3>
            </div>
            <br>
            <div class="row">
                <h5>APT Targets Vaccine Distribution</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/Vaccine.png" ></div>
            </div>
            
            <br>
            <div class="row">
                <h5>Script Kiddy 'Experiments' with Research Facility IT Infrastructure</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/research.png" ></div>
            </div>
            
            <br>
            <div class="row">
                <h5>Competitors Target Employee Laptop</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/laptop.png" ></div>
            </div>
             

            
            <!-- Confidental Data -->
            <div class="row" id="confidentaldata"style="height: 75px;"></div>
            <div class="row">
                <h3>Confidental Data</h3>
            </div>

            <br>
            <div class="row">
                <h5>Organized Criminial Targets Government Official's Personal Information</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/govofficial.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Disgruntled Employee Leaks Patient PII</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/disgruntledpii.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Criminals Blackmail Patients with PII</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/blackmail.png" ></div>
            </div>
             

            <!-- Public Trust -->
            <div class="row" id="publictrust"style="height: 75px;"></div>
            <div class="row">
                <h3>Public Trust</h3>
            </div>
            
            <br>
            <div class="row">
                <h5>Hacktivists Target Employee Login Credentials</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/hacktivists.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Online Community Influencers Encourage Vaccine Disinformation</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/antivax.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Russian or N. Korean APTs Modify Vaccine Data</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/vaccineData.png" ></div>
            </div>


            <!-- Information Systems -->
            <div class="row" id="informationsystems"style="height: 75px;"></div>
            <div class="row">
                <h3>Information Systems</h3>
            </div>
            
            <br>
            <div class="row">
                <h5>APT Targets Patient Management System</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/facililtymgmtsys.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Criminals Target Medical Database</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/databse.png" ></div>
            </div>

            <br>
            <div class="row">
                <h5>Hacktivists Encrypt Hospital Servers</h5>
            </div>
            <div class="row">
                <div class="container"><img src="../../assets/img/encryptServers.png" ></div>
            </div>



    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
