<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/intelligencebuyin#pandemic"><button type="button" class="btn btn-secondary btn-block" >Pandemic</button></a>
            <br>
                <a class = "row" href="/intelligencebuyin#"><button type="button" class="btn btn-secondary btn-block" >Relevant Threat Trends</button></a>
            <br>
                <a class = "row" href="/intelligencebuyin#"><button type="button" class="btn btn-secondary btn-block" >Critical Asset Identification</button></a>
            <br>
            </div>
        </div>
    </div>
    

    <!-- spacer -->
    <div class="col-1"></div> 
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Intelligence Buy In</h1>
            </div>
            <br>

            <!-- heading1 -->
            <div class="row" id="background"style="height: 75px;"></div>
            <div class="row">
                <h3>Pandemic</h3>
            </div>
            <div class="row">
                <p>
                    Malicious actors will continue to attack the U.S. healthcare industry because of strained resources due to the pandemic.
                </p>
            </div>
            <div class="row">
                <h5>Services Include:</h5>
            </div>
            <div class="row">
                <ul>
                    <li>building and sustaining community health resilience</li>
                    <li>improving health related situational awareness capabilities</li>
                    <li>enhancing the integration of HPH capabilities into emergency management systems in effective ways</li>
                    <li>strengthening global health security</li>
                </ul>
            </div>
            <div class="row">
                <h5>Relevant Organizations:</h5>
            </div>
            <div class="row">
                <ul>
                    <li>Center for Disease Control (CDC)</li>
                    <li>National Institutes of Health (NIH)</li>
                    <li>Food and Drug Administration (FDA)</li>
                </ul>
            </div>
            <br>
        

            <!-- heading2 -->
            <div class="row" id="trends"style="height: 75px;"></div>
            <div class="row">
                <h3>Relevant Threat Trends</h3>
            </div>
            <div class="row">
                <p>Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Unordered List</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Ordered List</h5>
                    </div>
                    <div class="row">
                        <ol type="1">
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ol>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/spaceCommand.png" width="50%" height="75%">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Side...</h5>
                    </div>
                    <ol type="1">
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                    </ol>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>...by side...</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h5>...by side</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" id="assets"style="height: 75px;"></div>
            <div class="row">
                <h3>Critical Asset Identification</h3>
            </div>
            <div class="row">
                <p>Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. Here is normal text. 
                </p>
            </div>
            <div class="row">
                <h5>The assets that are most critical to the Healthcare and Public Health Sector.</h5>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Asset</th>
                        <th scope="col">Value</th>
                        <th scope="col">Impact Of Breach</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Physical Assets</th>
                        <td>Facilities and medical equipment allow for treatment of patients</td>
                        <td>Monetary loss, inability to properly treat patients</td>
                      </tr>
                      <tr>
                        <th scope="row">Confidential Data</th>
                        <td>Contains information on and history of patients</td>
                        <td>Loss of medical history, damage to reputation, identity theft</td>
                      </tr>
                      <tr>
                        <th scope="row">Public Trust</th>
                        <td>Encourages people to protect themselves and others through available medical treatment</td>
                        <td>More sick people, more deaths, higher medical fees</td>
                      </tr>
                      <tr>
                        <th scope="row">Information Systems</th>
                        <td>Operational and health record management</td>
                        <td>Inability to properly treat patients, monetary loss</td>
                      </tr>
                    </tbody>
                  </table>
            </div>





        
    
        
    





    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
