<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/intelligencebuyin#risks"><button type="button" class="btn btn-secondary btn-block" >Risks</button></a>
            <br>
                <a class = "row" href="/intelligencebuyin#mitigation"><button type="button" class="btn btn-secondary btn-block" >Mitigation</button></a>
            <br>
                
            </div>
        </div>
    </div>
    

    <!-- spacer -->
    <div class="col-1"></div> 
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Intelligence Buy In</h1>
            </div>
            <br>

            <!-- Risks -->
            <div class="row" id="risks"style="height: 75px;"></div>
            <div class="row">
                <h3>Risks</h3>
            </div>
            <div class="row">
                <h5>
                    Cost of attack ownership:
                </h5>
            </div>
            <div class="row">
                <ul>
                    <li>Magellan Health Inc. will have to take ownership of the breached records and be responsible for liabilities associated with the breach. 
                        A class action lawsuit was filed on June 29, 2020 which could potentially cost the company millions (Shaak, 2020)
                    </li>
                    <li>Florida Orthopedic Institute was hacked by ransomware and their class action lawsuit cost $99 million because of the patient data exposure.</li>
                    
                </ul>
            </div>
            <div class="row">
                <h5>
                    Pandemic:
                </h5>
            </div>
            <div class="row">
                <ul>
                    <li>Malicious actors will also continue to attack other healthcare companies because of strained resources due to the pandemic.</li>
                    <li>The FBI and two federal agencies said they have credible information of “an increased and imminent cybercrime threat” to U.S. 
                        hospitals and health care providers (Bajack, 2020) 
                    </li>
                    
                </ul>
            </div>
            
        

            <!-- Mitigation -->
            <div class="row" id="mitigation"style="height: 75px;"></div>
            <div class="row">
                <h3>Mitigation</h3>
            </div>
           
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Layered Security (Defense-in-Depth) uses control diversity implementing:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Administrative</li>
                            <li>Technical</li>
                            <li>Physical Security Controls </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Additional Security layers to protect individual components of a system may include:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Access measures</li>
                            <li>Workstation defense</li>
                            <li>Data protection</li>
                            <li>Threat Intelligence</li>
                        </ul>
                    </div>
                </div>
                <div class="col d-flex align-items-center">
                    <img src="../../assets/img/mitigationdiag.png">
                </div>
            </div>
                
                
            
    





    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
