<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/visualizations#lda"><button type="button" class="btn btn-secondary btn-block" >Intertopic Distance Map</button></a>
            <br>
                <a class = "row" href="/visualizations#rO"><button type="button" class="btn btn-secondary btn-block" >Ransomware Origins</button></a>
            <br>

            </div>
        </div>
    </div>
    

    <!-- spacer -->
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Visualizations</h1>
            </div>
            <div class="row">
                <h6>In this section we aim to display some of the intelligence gained from our analytical approaches. </h6>
            </div>
            <!-- heading1 -->
            <div class="row" id="lda"style="height: 75px;"></div>
            <div class="row">
                <h3>LDA Topic Modeling</h3>
            </div>
            <div class="row">
                <p>
                    Here we show the Intertopic Distance map as well as the most salient terms. The goal is to display the most informative and useful words in our collection of relevant hacktivists tweets.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <iframe src="https://iframebucketforcti.s3.amazonaws.com/ldavis_prepared_5.html" height="900" width="1400" title="LDA Topic Modeling"></iframe>
                </div>
            </div>
            <br>
            <!-- heading2 -->
            <div class="row" id="rO"style="height: 75px;"></div>
            <div class="row">
                <h3>Malware Bazaar</h3>
            </div>
            <div class="row">
                <p>
                    Here we show where the ransomware originated from.                    
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../../assets/img/ransomwareOrigins.png" height="900" title="LDA Topic Modeling"/>
                </div>
            </div>
            


    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
