<br>
<div class="row">
    <!-- Sidebar -->
    <div class="col-2">
        <div class="make-me-sticky">
            <div class="make-me-sticky">
                <a class = "row" href="/data#twitter"><button type="button" class="btn btn-secondary btn-block" >Twitter</button></a>
            <br>
                <a class = "row" href="/data#reddit"><button type="button" class="btn btn-secondary btn-block" >Reddit</button></a>
            <br>
                <a class = "row" href="/data#malwarebazaar"><button type="button" class="btn btn-secondary btn-block" >MalwareBazaar</button></a>
            <br>
                <a class = "row" href="/data#urlhaus"><button type="button" class="btn btn-secondary btn-block" >URLhaus</button></a>
            <br>
            </div>
        </div>
    </div>
    

    <!-- spacer -->
    <div class="col-1"></div> 
    
    <!-- main text width & page title -->
    <div class="col-8">
        <div class="container">
            <div class="row">
                <h1>Data</h1>
            </div>

            <!-- heading1 -->
            <div class="row" id="twitter"style="height: 75px;"></div>
            <div class="row">
                <h3>Twitter</h3>
            </div>
            <div class="row">
                <p>
                    Twitter is a microblogging and social networking service where users interact with tweets.
                    This can include hacktivists such as anonymous and th3j35t3r.
                    This provides value in the sense that Tweets from hacktivists can discuss recent data breaches or future attacks on medical facilities.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Active hacker Twitter handles include:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>@YourAnonCentral</li>
                            <li>@CtrlSec</li>
                            <li>@th3j35t3r</li>
                            <li>@anonyops</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Collection strategy:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Tweets are collected using the Twitter advanced search operators.</li>
                            <li>Search operators allow for the collection a user’s past 3200 tweets.</li>
                            <li>Tweets can be parsed for relevant terms.</li>
                            <li>This includes hashtags such as #healthcare and #databreach</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/twitter.png" width="75%" height="75%">
                </div>
            </div>
            <div class="row">
                <h5>Relevant Attributes:</h5>
            </div>
            <div class="row">
                <ul>
                    <li>Tweet content</li>
                    <li>Link url</li>
                    <li>Mentions</li>
                    <li>Hashtags</li>
                </ul>
            </div>
            <div class="row">
                <h5>Dataset statistics:</h5>
            </div>
            <div class="row">
                <ul>
                    <li>24,703 tweets from 9 hacker Twitter groups</li>
                </ul>
            </div>
            <br>
            <!-- heading2 -->
            <div class="row" id="reddit"style="height: 75px;"></div>
            <div class="row">
                <h3>Reddit</h3>
            </div>
            <div class="row">
                <p>
                    Reddit is a social news aggregation, web content rating, and discussion website.
                    Reddit posts can serve as a livestream of data that can include feature rich posts relating to new attacks, breach victims and emerging security threats.                     
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Largest cybersecurity related subreddits:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>r/netsec - 403k members</li>
                            <li>r/cybersecurity - 230k members</li>
                            <li>r/asknetsec - 141k members</li>
                            <li>r/malware - 50.1k members</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Collection strategy:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Reddit API is used to collect data ranging back to Jan 1, 2021</li>
                            <li>The api allows for collection of all content posted to the aforementioned subreddits</li>
                            <li>Posts containing keywords such as health, healthcare, hospital, etc are being flagged with a isRelevant boolean variable</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/reddit.jpg" width="50%" height="75%">
                </div>
            </div>
            <div class="row">
                <h5>Relevant Attributes:</h5>
            </div>
            <div class="row">
                <ul>
                    <li>Title</li>
                    <li>Body</li>
                    <li>Author</li>
                    <li>Likes/Dislikes</li>
                    <li>isRelevant boolean</li>
                </ul>
            </div>

            <div class="row" id="malwarebazaar"style="height: 75px;"></div>
            <div class="row">
                <h3>MalwareBazaar</h3>
            </div>
            <div class="row">
                <p>
                    Collection of malware samples that can be utilized to help healthcare threat analysts protect customers and organizations from cyber threats.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Data Attributes</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Date Discovered</li>
                            <li>Sha-256 hash</li>
                            <li>Md5 hash</li>
                            <li>File name</li>
                            <li>File Type</li>
                            <li>Signature (Malware Family)</li>
                            <li>Mime Type</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Dataset statistics:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>266,722 ransomware samples</li>
                            <li>Top 10 Ransomware Families are pictured in the displayed figure.</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/figure7.png" width="75%" height="75%">
                </div>
            </div>
            <br>
            <div class="row" id="urlhaus"style="height: 75px;"></div>
            <div class="row">
                <h3>URLhaus</h3>
            </div>
            <div class="row">
                <p>
                    Database is operated by abuse.ch. It collects, tracks, and shares malware URLs. It is used to help security analysts identify network threats.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Data Attributes</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Data added</li>
                            <li>url</li>
                            <li>url status (offline or online)</li>
                            <li>threat</li>
                            <li>tags</li>
                            <li>reporter</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Dataset statistics:</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li> 1,010,032 URLS associated with Malware</li>
                            <li>Most seen tags associated with malware URLs can be seen in the displayed figure.</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <img src="../../assets/img/figure8.png" width="75%" height="75%">
                </div>
            </div>




        
    
        
    





    <!-- close page row, cols and container -->
        </div>
    </div>
</div>
