<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Cyber Threat Intelligence</h1>
      <p class="lead">Government Healthcare Sector</p>
    </div>
</div>

<div class="container">
  <div class="col" style="text-align: center;">
    <div class="row">
      <div class="col d-flex align-items-center" style="height: 150px;">
        <img src="../../assets/img/cisa.png">
      </div>
      <div class="col d-flex align-items-center" style="height: 120px;">
        <img src="../../assets/img/nih.png">
      </div>
      <div class="col d-flex align-items-center" style="height: 150px;">
        <img src="../../assets/img/fda.jpg">
      </div>
  </div>
  <p>
    The Cybersecurity and Infrastructure Agency (CISA) identifies 16 key critical infrastructures, 
    one of which is the Healthcare and Public Health Sector. The HPH Sector is large, diverse, and 
    open, spanning both the public and private sectors. This includes publicly accessible healthcare 
    facilities, research centers, and other physical assets. Vast information technology systems are 
    required for rapid and secure transmission and storage of large amounts of HPH data.
  </p>
  </div>
</div>
